body {
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);

}

a {
    text-decoration: none;
}

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #766357;
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.representation {
    background: #f2f2f2 url("../img/sedona-background-photo.png") no-repeat center;
    text-align: center;
}

.excerpt {
    text-align: center;
}

.attract {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.features-offer {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.first-reason-text {
    color: #ffffff;
    background-color: #81b3d2;
    text-align: center;

}
.first-reason-text h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;

}

.first-reason-text span,
.first-reason-text p {
    font-size: 14px;
    line-height: 21px;
}

.offers-list {
    list-style: none;
    text-align: center;
}

.offers-item h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.offers-item p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.second-reason-text {
    color: #ffffff;
    background-color: #81b3d2;
    text-align: center;

}
.second-reason-text h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.second-reason-text span,
.second-reason-text p {
    font-size: 14px;
    line-height: 21px;
}

.features-min-decorate {
    background-color: #eeeeee;
    text-align: center; 
}

.features-min-decorate h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000; 
}

.features-min-decorate span,
.features-min-decorate p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.hotel-search-button {
    font: inherit;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
}

.hotel-search-button:hover {
    background-color: #604e43;
}

.hotel-search-button:focus {
    background-color: #503e33;
}

.search-form input,
.search-form label {
    font: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    border: none;
}

.date-search-form input,
.number-search-form input {
    background-color: #f2f2f2;
}

.date-search-form input:hover,
.number-search-form input:hover {
    background-color: #ebebeb;
}

.date-search-form input:focus,
.number-search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.filter-button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.filter-button:hover {
    background-color: #669ec0;
}

.filter-button:focus {
    background-color: #5496bd;
}

.map {
    background-image: url("../img/map.jpg");
    width: 100%;
    height: 470px;
}

.footer-social {
    background-color: rgba(254, 254, 254, 0.9)
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social ul {
    list-style: none;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
    text-align: center;
}

/*стилизация внутренней страницы*/
.inner-page {
    color: #000000;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.wrapper-hotel {
    background-color: #fefefe;
}

.page-header {
    background-color: #ffffff;
}

.filter {
   background-color: #81b3d3;
   background-image: url("../img/background-hotel.jpg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

.filter fieldset {
    border: none;
}

.filter-list,
.filter-option {
    list-style: none;
}

.filter legend {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.filter-option label {
    color: #ffffff;
    text-align: center;
}

.filter-list {
    text-align: center;
}

.filter-button {
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.search-amount p {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-sorting p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.search-sorting-list {
    list-style: none;
}

.search-sorting-list li {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px #81b3d2 dotted;
}

.search-sorting-list li:active {
    color: #81b3d2;
    border-bottom: none;
}

.search-sorting-list li:focus {
    color: #000000;
    border-bottom: none;
}

.search-sorting-list li:hover {
    color: #81b3d2;
}

.search-result-item h4 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.search-result-item h4:hover {
    color: #81b3d2;
}

.search-result-item h4:focus {
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item p {
    color: #333333;
}

.item-more {
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
}
.item-more:hover {
    background-color: #669ec0;
}

.item-more:focus {
    background-color: #5496bd;
}

.item-reserve {
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.item-reserve:hover {
    background-color: #604e43;
}

.item-reserve:focus {
    background-color: #503e33;
}

.rating-text {
    color: #666666;
    background-color: #f2f2f2;
}

/*сетки*/

.main-header nav {
    display: flex;
    background-color: #ffffff;
    width: 1200px;
    height: 56px;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu-left,
.menu-right {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.menu-left li:nth-child(2) {
    margin-right: 240px;
}

.site-navigation li {
    border: 0;
    margin: 0;
    width: 240px;
    text-align: center;
}





div, section, a, ul, li, p, footer, header, main {
    outline: 1px solid red;
    }