body {
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html { 
    box-sizing: border-box; 
}

*, *::before, *::after { 
    box-sizing: inherit; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper,
.wrapper-hotel {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.wrapper {
    background-color: #ffffff;
}

.main-header nav,
.page-header nav {
    display: flex;
    background-color: #ffffff;
    min-height: 56px;
}

.main-header-logo,
.header-logo {
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -70px;
}

.site-navigation li:nth-child(2) {
    margin-right: 240px;
}

.site-navigation li {
    border: 0;
    margin: 0;
    width: 240px;
    text-align: center;
}

.site-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation a {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.active {
    color: #766357;
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.representation {
    background-image: url("../img/polygon.svg"), url("../img/sedona-background-photo.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    min-height: 507px;
    justify-content: center;
    align-items: center;
}

.excerpt {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 216px;
    width: 570px;;
    padding: 60px 40px 60px 40px;
    margin: auto 310px;
}

.excerpt-end {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 290px;
}

.attract {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.features-offer,
.features-offer-end {
    line-height: 26px;
    color: #333333;
}

.features-offer-end {
    margin: 0;
    padding: 0;
}

.first-reason {
    display: flex;
    min-height: 256px;
}

.first-reason-img {
    background-image: url("../img/first-reason.jpg");
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 800px;
}

.first-reason-text,
.second-reason-text {
    color: #ffffff;
    background-color: #81b3d2;
    width: 400px;
    padding: 30px 50px 60px 50px;
    text-align: center;
    height: 256px;

}

.first-reason-text h3,
.second-reason-text h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.second-reason {
    display: flex;
    min-height: 256px;
}

.second-reason-img {
    background-image: url("../img/second-reason.jpg");
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 800px;
    order: -1;
}

.offers-list {
    list-style: none;
    min-height: 330px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.offers-item {
    text-align: center;
    padding: 60px;
    padding-top: 140px;
    width: 400px;
}

.offers-item h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.offers-item p {
    line-height: 21px;
    color: #333333;
}

.offers-item-home {
    background-image: url("../img/home.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.offers-item-food {
    background: url("../img/food.svg") no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.offers-item-souvenir {
    background: url("../img/souvenir.svg") no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.features-min-decorate {
    background-color: #eeeeee;
    text-align: center; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 255px;
    padding-top: 45px;
    padding-bottom: 45px;

}

.small-reason-block h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000; 
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features-min-decorate span,
.features-min-decorate p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    
}

.features-min-decorate p {
    margin: 0;
    margin-top: 20px;
}

.small-reason-block {
    width: 270px;
}

.attract-end {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 21px;
}

.hotel-search-button {
    font: inherit;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    margin-top: 47px;
    margin-left: 316px;
    width: 568px;
    height: 86px;
}

.hotel-search-button:hover {
    background-color: #604e43;
}

.hotel-search-button:focus {
    background-color: #503e33;
}

.hotel-form {
    position: relative;
    z-index: 30;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
    width: 568px;
    height: 395px;
    left: 316px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
}

.search-form input,
.search-form label {
    font: inherit;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    box-sizing: border-box;
}

.date-search-form input {
    width: 346px;
    padding: 8px 13px;
    padding-right: 38px;
}

.date-search-form {
    position: relative;
}

.date-of-arrival,
.date-of-departure {
    min-width: 95px;
    padding-right: 15px; 
}

.calendar-icon {
    position: absolute;
    font: inherit;
    background: transparent;
    border: none;
    padding: 0;
    top: 8px;
    right: 8px;
}

.calendar-icon:hover path {
    fill: #000000;
}

.calendar-icon:focus path {
    fill: #81b3d2;
}

.date-search-form input,
.number-search-form input {
    background-color: #f2f2f2;
}

.date-search-form input:hover,
.number-search-form input:hover {
    background-color: #ebebeb;
}

.date-search-form input:focus,
.number-search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.number-search-wrapper {
    display: flex;
    justify-content: space-between;
    width: 458px;
}

.filter-button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    padding: 0;
    width: 458px;
    height: 58px;
}

.filter-button:hover {
    background-color: #669ec0;
}

.filter-button:focus {
    background-color: #5496bd;
}

.wrapper-map {
    position: relative;
    min-height: 593px;
}

.map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    min-height: 593px;
}

.main-footer {
    background-color: rgba(254, 254, 254, 0.9);
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-height: 120px;
}

.footer-position {
    position: absolute;
    z-index: 30;
    bottom: 0;
    padding: 36px 20px;
    width: 1200px;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    padding: 10px 50px 0px 10px;
    margin: 0;
}

.footer-social {
    margin: 0;
    padding: 0;
}

.footer-social ul {
    display: flex;
    width: 150px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    padding: 0;
    margin: 0;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
    fill: #88b6d1;
}

.button {
    width: 115px;
    height: 41px;
}

.button:hover path {
    fill: #81b3d2;
}

.button:focus path {
    fill: #bdbbbc;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/*внутренняя страница*/

.inner-page {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #f2f2f2;
}

.wrapper-hotel {
    background-color: #fefefe;
}

.page-header {
    background-color: #ffffff;
}

.filter {
    background-color: #81b3d3;
    background-image: url("../img/background-hotel.jpg");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    min-height: 217px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px 60px 0px 70px;
}

.filter-block {
    border: none;
    padding: 0;
    margin: 0;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.filter-list,
.filter-option {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-option {
    width: 220px;
    height: 43px;
}

.filter legend {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: start;
    width: 120px;
    margin-bottom: 25px;
}

.filter-option label {
    color: #ffffff;
    text-align: start;
}

.filter-list {
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 40px;
}

.search-result-unit {
    padding: 9px 70px;
    min-height: 87px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.search-amount {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 150px;
}

.search-sorting {
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 20px;
}

.search-sorting-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.search-sorting-list li {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px #81b3d2 dotted;
    padding-left: 15px;
    padding-right: 20px;
}

.search-sorting-list li:active {
    color: #81b3d2;
    border-bottom: none;
}

.search-sorting-list li:focus {
    color: #000000;
    border-bottom: none;
}

.search-sorting-list li:hover {
    color: #81b3d2;
}

.sorting-scroll {
    font-size: 0;
    margin-left: auto;
    display: flex;
    width: 35px;
    justify-content: space-between;
}

.sorting-scroll-up:hover path,
.sorting-scroll-down:hover path {
    fill:#231f20;
}

.sorting-scroll-up:focus path,
.sorting-scroll-down:focus path {
    fill:#81b3d2;
}





.information h4 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.information h4:hover {
    color: #81b3d2;
}

.information h4:focus {
    color: rgba(0, 0, 0, 0.3);
}

.text-info,
.intent-item {
    display: flex;
    justify-content: flex-start;
}

.hotel-types,
.hotel-price {
    color: #333333;
    margin-top: 0;
    margin-bottom: 15px;
}

.hotel-types {
    min-width: 110px;
    margin-right: 6px;
}

.item-more,
.item-reserve {
    display: block;
}

.item-more {
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    height: 27px;
    width: 110px;
    padding: 4px 17px;
    margin-right: 6px;
    box-sizing: border-box;
}

.item-more:hover {
    background-color: #669ec0;
}

.item-more:focus {
    background-color: #5496bd;
}

.item-reserve {
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    height: 27px;
    width: 142px;
    padding: 4px 17px;
}

.item-reserve:hover {
    background-color: #604e43;
}

.item-reserve:focus {
    background-color: #503e33;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 151px;
    padding: 20px 73px;
}

.information {
    padding-left: 30px;
    min-width: 270px;
    min-height: 100px;
}

.star-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 90px;
    margin-left: auto;
}

.rating-text {
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    text-align: center;
    padding: 4px 12px;
}

.page-footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-height: 120px;
    padding: 36px 20px;
}

/*сложный фильтр*/

.filter-range {
width: 330px;
color: #ffffff;
text-transform: uppercase;
box-sizing: content-box;
}

.filter-range-title {
margin-bottom: 9px;
font-weight: 600;
font-size: 16px;
line-height: 21px;
}

.price-controls {
position: relative;
height: 36px;
margin-bottom: 20px;
font-size: 0;
border: 2px solid #ffffff;
border-radius: 2px;
}

.price-controls::after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 2px;
height: 22px;
background: #ffffff;
transform: translate(-50%, -50%);
}

.price-controls label {
display: inline-block;
font-size: 14px;
line-height: 38px;
vertical-align: top;
cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
width: 90px;
padding-left: 65px;
}

.price-controls input {
width: 50px;
margin: 0;
color: inherit;
font: inherit;
background: none;
border: none;
}

.range-controls {
position: relative;
margin-bottom: 32px;
}

.range-controls .scale {
height: 2px;
background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
width: 80%;
height: 2px;
background: #ffffff;
}

.range-toggle {
position: absolute;
top: -9px;
width: 4px;
height: 4px;
background: #ababab;
border: 8px solid #ffffff;
border-radius: 50%;
box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
cursor: pointer;
}

.range-toggle:hover {
background: #1c4f80;
}

.range-toggle-min {
left: 0;
}

.range-toggle-max {
left: 80%;
}

.btn-transparent {
display: block;
margin: 0 auto;
padding: 6px 35px;
font-size: 14px;
line-height: 20px;
color: #ffffff;
text-transform: uppercase;
background: transparent;
border: 2px solid #ffffff;
border-radius: 2px;
cursor: pointer;
}

.btn-transparent:hover {
color: #000000;
background: #ffffff;
}




div, section, a, ul, li, p, footer, header, main, fieldset {
    outline: 1px solid green;
}